body .surface-book{
position: relative;
width: 1500px;
height: 1000px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

div .container{
position: absolute;
width: 1500px;
height: 1000px;
left: 0px;
top: 0px;

background: #FFFFFF;
}
div .image{

position: absolute;
width: 706px;
height: 1000px;
left: 0px;
top: 0px;
}
.hotel{
position: absolute;
width: 706px;
height: 1000px;
left: 0px;
top: 0px;

/*background: url(brown_hotel_wallpaper_by_fantasystock.jpg);*/
opacity: 0.37;
}
.github{

position: absolute;
width: 519px;
height: 527px;
left: 94px;
top: 237px;

/*background: url(img/edwin-github.jpg);*/
border-radius: 259.5px;
}

/*{
position: absolute;
width: 279px;
height: 305.5px;
left: 939px;
top: 459px;
}*/
div .group .work{

position: absolute;
width: 276px;
height: 68.5px;
left: 940.5px;
top: 459px;

opacity: 0.48;
border: 1px solid #000000;
border-radius: 10px;
/*text*/
/*position: absolute;
width: 249px;
height: 59px;
left: 952px;
top: 464px;

font-family: Sanchez;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
text-align: center;
letter-spacing: 0.26em;

color: #000000;
opacity: 0.57;*/
/*line*/
}
div .line-1 {
	
position: absolute;
width: 47px;
height: 0px;
left: 1067px;
top: 552px;

border: 1px solid #000000;
transform: matrix(0, 1, 1, 0, 0, 0);}

div .group .about{

position: absolute;
width: 276px;
height: 68.5px;
left: 939px;
top: 577px;

opacity: 0.48;
border: 1px solid #000000;
border-radius: 10px;

/*text*/
/*position: absolute;*/
/*width: 249px;
height: 59px;
left: 954px;
top: 580px;*/

font-family: Sanchez;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
text-align: center;
letter-spacing: 0.26em;

color: #000000;
opacity: 0.57;


}

div .line-2 {
	
position: absolute;
width: 47px;
height: 0px;
left: 1067px;
top: 670px;

border: 1px solid #000000;
transform: matrix(0, 1, 1, 0, 0, 0);
}
div .group .contact{

position: absolute;
width: 276px;
height: 68.5px;
left: 942px;
top: 696px;

opacity: 0.48;
border: 1px solid #000000;
border-radius: 10px;
/*text*/
/*position: absolute;
width: 249px;
height: 59px;
left: 954px;
top: 700px;

font-family: Sanchez;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
text-align: center;
letter-spacing: 0.26em;

color: #000000;
opacity: 0.57;*/
}
.text{
	position: absolute;
width: 600px;
height: 119px;
left: 807px;
top: 276px;

font-family: Rhodium Libre;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 21px;
text-align: center;
letter-spacing: 0.3em;

color: #000000;
opacity: 0.6;
}